<div class="container vh-100 d-flex justify-content-center align-items-center">

  <div class="card shadow-lg border-0 rounded-4 p-4" style="max-width: 500px; width: 100%;">

    <div class="text-center mb-4">

      <div
        class="bg-danger text-white rounded-4 d-flex justify-content-center align-items-center mx-auto mb-3"
        style="width:70px;height:70px;">
        <h2 class="m-0">R</h2>
      </div>

      <h2 class="fw-bold">Recipe App</h2>
      <p class="text-muted">Create New Account</p>

    </div>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <!-- Name -->
      <div class="mb-3">

        <label class="form-label fw-semibold">Name</label>

        <input
          type="text"
          class="form-control form-control-lg"
          formControlName="name"
          placeholder="Omar Ali">

        <div
          *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid"
          class="text-danger small mt-1">

          Name must be at least 3 characters

        </div>

      </div>

      <!-- Email -->
      <div class="mb-3">

        <label class="form-label fw-semibold">Email</label>

        <input
          type="email"
          class="form-control form-control-lg"
          formControlName="email"
          placeholder="example@gmail.com">

        <div
          *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
          class="text-danger small mt-1">

          Enter valid email

        </div>

      </div>

      <!-- Password -->
      <div class="mb-3">

        <label class="form-label fw-semibold">Password</label>

        <input
          type="password"
          class="form-control form-control-lg"
          formControlName="password"
          placeholder="********">

        <div
          *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
          class="text-danger small mt-1">

          Password must contain:
          Uppercase, Lowercase, Number & Special Character

        </div>

      </div>

      <!-- Confirm Password -->
      <div class="mb-4">

        <label class="form-label fw-semibold">
          Confirm Password
        </label>

        <input
          type="password"
          class="form-control form-control-lg"
          formControlName="confirmPassword"
          placeholder="********">

        <div
          *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid"
          class="text-danger small mt-1">

          Confirm Password is required

        </div>

      </div>

      <button
        type="submit"
        class="btn btn-danger btn-lg w-100 rounded-3">

        Create Account

      </button>

    </form>

    <div class="text-center mt-4">

      <p class="text-muted mb-0">

        Already have an account?

        <a
          routerLink="/login"
          class="fw-bold text-decoration-none text-danger">

          Login

        </a>

      </p>

    </div>

  </div>

</div>
